#mainText {
    text-align: center;
    vertical-align: baseline;
}
.navbar-custom {
    background: transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 20px;
}
.navbar-brand {
    margin-left: 0px;
}
html, body{
    height: 100%;
    overflow-x: scroll;
  }
body {
    background: linear-gradient(to bottom, #fafafa 20%, rgb(210, 211, 211) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
#navbarNavDropdown {
    margin-right: 100px;
}
.dropdown-menu {
    background: linear-gradient(to bottom, #fafafa 20%, rgb(243, 243, 243) 100%);
}
.navbar-nav  {
    border: transparent;
    border-radius: 5px;
}
.indexContainer {
    margin-top: 45px;
}
.disabled {
    opacity: 0.5;
}
.invisible {
    opacity: 0;
}
.socialLinks a {
    font-size: 2em;
    margin: 7px; 
}
@media (min-width: 640px) {
    #mainText {text-align: center;}
    .mainContainer {
        padding: 30px;
        margin-top: -30px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #mainText {text-align: center;}
    .mainContainer {
        padding: 30px;
        margin-top: 20px;
    } 
    .dropdown-item {
        line-height: 2;
        padding-left: 0px;
    }
    #coding-dropdown {width: 170px;}
    .navbar-nav  {
        border: 1px solid black;
        border-radius: 5px;
    }
    #navbarDropdownMenuLink1 {
        border-left: 1px solid black;
    }
    .navbar-brand {
        margin-left: 100px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #mainText {text-align: center;}
    .mainContainer {
        padding: 50px;
        margin-top: 20px;
    }  
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
    #mainText {
        padding-right: 45px;
        text-align: left;
    }
 }

#mainPhoto {
    margin: auto;
    border-radius: 5px;
    border: 1px solid black;
    max-height: 350px;
}

.img-thumbnail {
    margin-right: 2.5px;
    margin-left: 2.5px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.img-thumbnail:hover {
    opacity: 0.5;
}
.img-thumbnail:active {
    opacity: 0.5;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

p {
    font-family: Arial', 'Helvetica Neue', Helvetica, sans-serif;  
}

/*Hardware Programing*/
.hardwareProgramingProject {
    border: 1px solid gray;
    border-radius: 5px; 
    background-color: #ccc;
    margin: auto;
    width: 400px;
}
.btn-primary {
    background-color: rgb(37, 36, 36) !important;
    border-color: gray !important;
}
.btn {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin: 15px;
}
.hardwarePhoto {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.projectText {
    text-align: center;
    font-size: 10pt;
}
.photo {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 500px;
}
.brandingImg {
    margin: auto;
    border-radius: 5px;
    width: 750px;
    padding: 15px;
}
.bootcampDiv {
    padding: 3px;
    text-align: center;
    
}
  
.bootcampDiv:hover {
    opacity: 0.5;
  }
.previous {
    margin-right: 20px;
}
.next {
    margin-left: 20px;
}

.artElement {
    margin-top: 30px;
}
