/* Small devices (landscape phones, 576px and up)*/
#mainText {
    text-align: center;
}
@media (min-width: 320px) {
    #mainText {
        text-align: center;
    }
}
    
@media (min-width: 640px) {
    #mainText {
        text-align: center;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #mainText {
        text-align: center;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #mainText {
        text-align: center;
    }

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
    #mainText {
        padding-right: 45px;
        text-align: left;
    }
    

 }




/* @include media-breakpoint-up(xs) { ... }
@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... } */

#mainPhoto {
    margin: auto;
}

.img-thumbnail {
    margin-right: 2.5px;
    margin-left: 2.5px;
    margin-top: 10px;
    margin-bottom: 5px;
}


.photo {
    margin: auto;
    padding: 25px;
}
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }

p {
    font-family: Arial', 'Helvetica Neue', Helvetica, sans-serif;  
}

 /* Style inputs with type="text", select elements and textareas */
 input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Contact Form*/
input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: lightgray;
}

/* Add a background color and some padding around the form */
.container {
    /* border-radius: 50px; */
    background-color: #f2f2f2;
    padding: 50px;
} 


  /* .img-fluid {
      padding: 30px;
  }
   */